<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked@17.0.0/lib/marked.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.3.0/dist/purify.min.js"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Docker Advisor</h1>
            <p class="greeting">Ask questions about Docker, DevOps and Containerization.</p>
        </header>

        <main>
            <form method="POST">
                <div class="chat-area"></div>
                <div class="chat-bar">
                    <input type="text" class="chat-bar-text" name="userQuery" placeholder="Message the chatbot...">
                    <button type="submit" id="submit-button">→</button>
                </div>
            </form>
        </main>
    </div>
</body>
</html>
